<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>질문 목록</title>
</head>
<body>
    <table border='1'>
        <thead>
        <tr>
            <td></td>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questionList}">
            <td th:text="${question.id}"></td>
            <th>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            </th>
            <th th:text="${question.createdDate}"></th>
        </tr>
        </tbody>
    </table>
</body>
</html>